
{% extends 'base.html' %}
{% block content %}
<h1>Dashboard</h1>

<div id="dropzone">Arraste arquivos aqui</div>
<button onclick="uploadFiles()">Processar</button>

<canvas id="chart"></canvas>

<form action="/upload" method="POST" enctype="multipart/form-data">
    
    <div id="drop-area">
        <p>Arraste arquivos aqui</p>
        <input type="file" name="files" multiple required>
    </div>

    <button type="submit">Processar</button>
</form>

<ul>
{% for f in files %}
<li>{{f.filename}} - {{f.corrections}}</li>
{% endfor %}
</ul>

{% endblock %}
